@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
body {
  background: #eee !important;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  object-fit: fill;
}
textarea {
  resize: none;
}
input,
textarea,
select {
  outline: none;
  border: none;
}
button {
  border: none;
}

.home {
  background: url(../public/Home.png);
  background-size: contain;
}

@media (max-width: 900px) {
  .login {
    background: url(../public/Group\ 3.png);
    background-size: 100% 100%;
    position: relative;
  }
  .login::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.9);
    width: 100%;
    z-index: 10;
  }
}

.label {
  @apply font-primary text-white font-bold text-xl;
}
.input {
  @apply mb-8 border-[2px] border-solid border-white focus:border-[#0094FF] bg-transparent w-full mt-4 p-3 sm:p-1 text-white;
}
